.card{
width: 251px;
height: 417px;
background: linear-gradient(0deg, #4200F6 0%, #4200F6 100%), url(https://user38243.na.imgto.link/public/20260929/img-card.avif) lightgray 50% / cover no-repeat;
background-blend-mode: lighten, normal;

}
h3{
color: #4200F6;
font-family: Elza;
font-size: 32px;
font-style: normal;
font-weight: 900;
line-height: 143%; /* 45.76px */
letter-spacing: -0.608px;    
}