:root {
    //variables color//
    --color-blue:#4200F6;
    --color-cyan:#9CF0E3;
    --color-green: #CFF665;
    --color-pink: #F238A7;
    --color-red:#FF4733;
    --color-white:#FFFFFF;
    --color-black:#1B1515;
    //variables font//
    --font-elzacondensed:"elza-condensed", sans-serif;
    --font-helveticaneue:"helvetica-neue-lt-pro", sans-serif;
}