@import "variables";
@import "font";
@import "base";
@import "layout";
@import "modules/example";
@import "modules/card";
@import "modules/header";

h1{ 
    font-family: var(--font-helveticaneue);
    text-align: center;
    font-size: 82.474px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    letter-spacing: -1.567px;
}
.name{
    font-family: var(--font-elzacondensed);
    font-size: 82.474px;
    font-style: normal;
    font-weight: 900;
    line-height: 143%; 
    letter-spacing: -1.567px;
}
.first{
    font-family: "elza-condensed", sans-serif;
    font-style: italic;
    font-size: 82.474px;
    font-weight: 500;
    line-height: 143%;
    letter-spacing: -1.567px;
}
.media{
    font-family: "pixelify-sans", sans-serif;
    font-size: 77.32px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    letter-spacing: -1.469px;

}
.art{
    font-family: "ballet-variable", sans-serif;
    font-size: 82.474px;
    font-style: normal;
    font-weight: 400;
    line-height: 143%;
    letter-spacing: -1.567px;
}
.forward{
    font-family: "Helvetica Neue";
    font-size: 82.474px;
    font-style: italic;
    font-weight: 200;
    line-height: 143%;
    letter-spacing: -1.567px;
}
.section-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

h2{
    font-family: var(--font-elzacondensed);
    text-align: center;  
    letter-spacing: -5.7px;
    
}
p{
    font-size: 20px;
    font-family: var(--font-helveticaneue);
}
header{
    top:0;
    position:sticky;
    padding: 36px;
}
.hero{
    height: 100vh;
    background-color:var(--color-white);
    color: var(--color-blue);
    padding: 36px;
}
.news{
    min-height: 100vh;
    background-color: var(--color-blue);
    color:var(--color-white);
    font-size: 14rem;
    padding: 36px;
}
.events{
    height: 100vh;
    background-color: var(--color-black);
    color: var(--color-green);
    font-size: 13rem;
   padding: 36px;
}
.favorite{
    height: 100vh;
    background-color:var(--color-pink);
    font-size: 9vw;
    padding: 36px;
    line-height: 180%;
}
.why{
    height:80vh;
    background-color: var(--color-white);
    color: var(--color-blue);
    font-size: 5vw;
    padding: 36px;
    line-height: 180%;
}
footer{
    height: 40vh;
    background-color: #1B1515;
    padding: 36px;
}